# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
logs
npm-debug.log*

# System files
.DS_Store

# Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS junk files
Thumbs.db
